<a href="https://colab.research.google.com/github/sscc37/ABCD-A/blob/20250307-%EA%B8%B0%EC%B4%88%EB%B3%80%EC%88%98/python_%EB%B3%80%EC%88%98%EA%B8%B0%EC%B4%8820250307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
watch=10000
a='pig'
b='dad'


print(a)
print(b)
print(watch)
print(a+b)
print(a+''+b)

pig
dad
10000
pigdad
pigdad

In [13]:

a=10
a,b=(10,20)
[a,b] = [10,20]
a=b=10
a = None


a=10
b=2000
a,b= b,a
print(a,b)


aa = [10, 20, 30]
bb = aa
aa[0] = 200
print(bb)


print("Hello word")
print(1)

a = 3

print(a)

2000 10
[200, 20, 30]
Hello word
1
3

In [14]:
a = 10
print("a" + str(a))
print("a=", a)
print("a={}".format(a))

a10
a= 10
a=10

In [15]:
#dat1
a = [10, 20, 30]
b = 1
c = 2
print(a)
print("a={}".format(a))
print("b={}".format(b))
print("a={}, b={}, c{}".format(a, b, c))

[10, 20, 30]
a=[10, 20, 30]
b=1
a=[10, 20, 30], b=1, c2